doctype
html
    head
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(href="/css/bootstrap.css", rel="styleSheet")
        link(href="/vendor/toastr/toastr.css", rel="styleSheet")
        link(href="/css/site.css", rel="styleSheet")
    body(ng-app="app")
        block main-content
        include scripts